@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* rgb(250,19,158) */
/* rgb(5,0,228) */
/* FA139E */
/* 4472c4 */
/* rgb(5, 4, 83) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 90%;
}

body {
  background-color: rgb(5, 4, 83);
  color: white;
  /* overflow-x: hidden; */
}

.header {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  padding: 5rem 3rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.header__content {
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: space-between;
  padding: 8rem 10rem;
}

.header__text h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin-top: 0.8rem;
  color: rgb(250, 19, 158);
  text-shadow: 0.5rem 0.5rem 3rem black;
}
.header__text h3 {
  font-size: 2.6rem;
}
.header__text p {
  margin-top: 3rem;
  font-size: 2.9rem;
  font-weight: 700;
  text-justify: newspaper;
}

.btn {
  display: block;
  border: none;
  cursor: pointer;
  align-self: center;
  padding: 1.3rem 1.8rem;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background-color: rgba(250, 19, 158, 255);
  border-radius: 1rem;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0.2rem 1rem rgba(250, 19, 158, 0.7);
  transform: translateY(-0.1rem);
}

.header__icon {
  margin-right: 1rem;
  font-size: 1.4rem;
}

.header__image-container {
  height: 100%;
}

.header__image {
  height: 100%;
  filter: drop-shadow(0 0 5rem rgb(250, 19, 158));
}

.hide {
  display: none;
}

section {
  min-height: 100vh;
  padding: 2rem 9%;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}
.offers-box {
  flex: 1 1 31rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(9, 7, 66);
  /* box-shadow: 0 0 1rem rgb(250, 19, 158); */
  border-radius: 2rem;
  text-align: center;
  overflow: hidden;
  /* overflow-wrap: normal; */
  border: 0.2rem solid rgb(250, 19, 158);
  transition: 0.5s ease;
}

.offers-box .up-side {
  padding: 3rem 2rem 2rem;
}

.offers-box .down-side {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 1.3rem 1.8rem;
  background: rgb(250, 19, 158);
}

.offers-box .down-side p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.offers-box .down-side h5 {
  text-decoration-line: line-through;
  text-decoration-color: rgb(5, 4, 83);
  text-decoration-thickness: 0.2rem;
  -webkit-text-decoration-thickness: 0.2rem;
  font-size: 2rem;
}

.offers-box .down-side__price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.offers-box .down-side h4 {
  display: block;
  font-size: 2.4rem;
}

.offers-box .down-side h4 span {
  display: block;
  font-size: 1.8rem;
}

.offers-box .down-side h2 {
  margin-top: 1rem;
  padding: 1rem 0;
  border-radius: 1rem;
  color: red;
  background: #323946;
  /* text-decoration: underline red; */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
}

.offers-box > h2 {
  padding: 1.5rem;
  color: red;
  text-shadow: 0 0 1rem #000;
}

.offers-box:hover {
  border-color: rgb(250, 19, 158);
  transform: scale(1.02);
}

.offers-box h3 {
  font-size: 2.6rem;
}

.offers-box .fa-trophy {
  color: #e1c702;
}

.offers-box h4 {
  font-size: 3.5rem;
  /* border-radius: 1rem; */
}

.offers-box ul {
  font-size: 1.8rem;
  margin: 2rem 0 0;
  text-align: left;
}

.offers-box ul li {
  margin: 1rem 2rem 0;
}

.offers-box ul li:last-of-type {
  margin-top: 3rem;
  list-style: none;
  margin-bottom: 2rem;
}

.offers-box ul li:last-of-type p {
  margin-top: 0.8rem;
  font-weight: 600;
}

.offers-box ul li span {
  font-weight: 700;
  color: rgb(250, 19, 158);
}

.offers-warning {
  text-align: center;
  margin-top: 2rem;
}

.offers-warning__span {
  color: red;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #323946;
}

.footer-text {
  display: flex;
  font-size: 1.3rem;
}

.footer-text p {
  margin-right: 1rem;
}

.footer-text a {
  display: inline-block;
  color: white;
  text-decoration: underline;
  transition: 0.3s;
  margin-right: 1rem;
}

.footer-text a:hover {
  color: rgb(250, 19, 158);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: rgb(250, 19, 158);
  border-radius: 50%;
  transition: 0.5s ease;
}
.footer-iconTop a i {
  font-size: 3rem;
  color: white;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem rgb(250, 19, 158);
}

@media (max-width: 1600px) {
  html {
    font-size: 67%;
  }

  .header__content {
    justify-content: space-evenly;
  }

  /* .header__image-container {
    height: auto;
  }

  .header__image {
    height: 85vh;
  } */
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .header__image-container {
    height: auto;
  }

  .header__image {
    height: 80vh;
  }
  .contact form .input-box + textarea,
  .contact form .input-box input {
    font-size: 2rem;
  }
  section {
    padding: 2rem 3%;
  }
}

@media (max-width: 991px) {
  .header {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .header__content {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 20rem 3rem;
  }

  .header__image-container {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    z-index: -100;
    height: 90vh;
  }

  .header__image {
    height: 100%;
  }

  /* .header__text p {
    padding: 0 3rem;
    font-size: 2.3rem;
  } */

  /*
  .offers-box {
    flex-basis: 45%;
  } */

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  .contact form .input-box input {
    width: 100%;
  }

  /* .offers-box {
    flex-basis: 90%;
  } */
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    margin: 0;
  }

  .footer-text {
    flex-direction: column;
    justify-content: space-evenly;
    height: 8rem;
    align-items: center;
  }

  .footer-text {
    margin: 0;
  }

  .error-msg .container {
    padding: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@keyframes floatDot {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-0.3rem);
  }

  50% {
    transform: translateY(0);
  }
}
